// Add any custom Sass & CSS here
body{
	background-image: url("../data/pattern.png");
}

.active-state {
	background-color:#A1F7A1;
}

.active-state:hover {
	background-color:#A1F7A1;
}

.active-state:focus {
	background-color:#A1F7A1;
}


#headerText{
	font-family: Chewy; 
	font-size: 20px; 
	line-height: 50px; 
	color: rgb(212, 50, 32); 
	text-shadow: none; 
	letter-spacing: 4px; 
	font-weight: bold; 
	font-style: normal; 
	text-transform: uppercase;
}

.view-container {
	padding: 5% 2% 5% 2%;
	background-color: rgba(255, 255, 255, 0.8);
}

#create-item {
	margin-top: 2%;
}

#product-container {
	margin-top: 2%;
}

.product-listing {
	font-family: Chewy;
}

.product-listing-title {
	@extend .product-listing;
	padding-bottom: 0.5%;
	font-size: 24px;
}

.product-listing-info {
	@extend .product-listing;
	font-size: 12px;
}