// Add any custom Sass & CSS here
body{
	background-color: rgba(245, 245, 245, 1.0);
	background-repeat: repeat;
}

.view-container {
	border-radius: 8px;
	border: solid 1px #E0E0E0;
	margin-top: 2%;
	padding: 5% 2% 5% 2%;
	background-color: white;
	
}

.product-container {
	padding-top: 2%;
	padding-bottom: 1%;
	background-color: white;
	border-style: solid;
	border: solid 1px #BDBDBD;
}

.product-container:hover {
	background-color: #FFEBEE;
}

#create-item {
	margin-top: 2%;
}

#product-container {
	margin-top: 2%;
}

.product-margin {
	margin-top: 1%;
}

.product-listing-title {
	padding-bottom: 0.5%;
	font-size: 24px;
}

.product-listing-info {
	font-size: 12px;
}

.thumbnail-wrapper {
	height: 100px;
	width: 150px;
}

.thumbnail {
	max-height: 100%;
	max-width: 100%;
}

.center-spinner { 
	margin-left:50%;
	transform: translateX(-50%);
}

.invisible {
	opacity: 0;
}

.active-state {
	background-color: #970800 !important;
}