// Add any custom Sass & CSS here
body{
	background-color: white;
	background-repeat: repeat;
}

.fixed {
	position: fixed;
	top:0;
}

.extra-padding {
	padding: 0 10px !important;
}

.header {
	height: 128px;
}

.view-container {
	margin-top: 2%;
	padding: 2%;
	background-color: white;
	border-radius: 8px;
	border: solid 1px #E0E0E0;
}
.view-container-no-border {
	padding: 2% 2% 5% 2%;
	background-color: white;
}

.product-container {
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: white;
	border-style: solid;
	border: solid 1px #BDBDBD;
}

.product-container:hover {
	background-color: #FFEBEE;
}

#create-item {
	margin-top: 2%;
}

#product-container {
	margin-top: 2%;
}

.product-margin {
	margin-top: 1%;
}

.product-listing-title {
	padding-bottom: 0.5%;
	font-size: 24px;
}

.product-listing-info {
	font-size: 12px;
}

.thumbnail-wrapper {
	height: 110px;
	// width: 150px;
	text-align: center;
	margin: 0 auto;
}

.thumbnail-wrapper-big {
	height: 150px;
	width: 200px;
	text-align: center;
	margin: 0 auto;
}

.thumbnail {
	max-height: 100%;
	max-width: 100%;
}

.center-spinner { 
	margin-left:50%;
	transform: translateX(-50%);
}

.invisible {
	opacity: 0;
}

.active-state {
	background-color: #970800 !important;
}

.header-logo {
	height:40px;
	cursor:pointer;
}

.nav-search {
}

.searchinput {
	height: 2.4rem;
	font-size: 0.9rem;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 1 0 1 1;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	border-left: 1px solid rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.searchbutton {
	@include button(
	);
	background-color: rgb(120,144,156);
	display: inline-block;
	text-align: center;
	line-height: 1;
	cursor: pointer;
	vertical-align: middle;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	font-size: 0.9rem;
	color: white;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.searchbutton:hover {
	background-color: rgb(55,71,79);
}

.searchbutton:focus {
	background-color: rgb(120,144,156);
}

 .margin-bottom {
 	margin-bottom: 15px;
 }

.text-center {
	vertical-align: center;
}

.small-text {
	font-size: 85%;
}

.homepage-label {
	margin-top: 5px;
}

.sectionheader {
	font-family: 'Ubuntu', sans-serif;
}

.fixed-width-button {
	width:100px ;
}

.md-raised {
	padding: 0px 10px !important;
}

.md-fixed-width {
	width: 120px;
}

.banner-wrapper {
	background-color: #E9D9A6;
}

.banner {
	width:800px;
}