<div ng-controller="AccountController" class="">
    <section class="row view-container">
        <div class="column small-12">
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                <a ng-click="logout()" class="button small">Logout</a>
            </div>

            <div class="row">
                <!-- PROFILE INFORMATION -->
                    <div class="">
                        <h3><span class="fa fa-user"></span> Profile</h3>

                            <p>
                                <strong>id</strong>: {{user._id}}<br>
                                <strong>email</strong>: {{user.email}}<br>
                                <strong>password</strong>: {{user.password}}
                            </p>
                    </div>
            </div>
            <form name="paymentForm">
              <input type="text" ng-model="card.number" name="cardNumber" cc-number cc-eager-type />
            </form>
            <p ng-show="paymentForm.cardNumber.$invalid && paymentForm.cardNumber.$ccEagerType">
              Looks like you're typing a {{paymentForm.cardNumber.$ccEagerType}} number!
            </p>
            <p ng-show="paymentForm.cardNumber.$valid">
              Yes, that looks like a valid {{paymentForm.cardNumber.$ccType}} number!
            </p>
            <p ng-show="paymentForm.cardNumber.$error.required">
              You must enter a credit card number!
            </p>
        </div>
    </section>
</div>