<div class="list" ng-controller='BuyController'>
	<section class="row view-container">
		<div class="column small-12">	
			<section class="row">
				<div class="column small-11 small-offset-1">
					<h3>Your Products</h3>
				</div>
			</section>
			<section class="row" id="product-container">
				<div class="column small-12 small-centered">
						<div class="row" ng-repeat="item in products">
							<div class="columns small-2 text-center small-offset">
								<img class="thumbnail" src="http://placehold.it/100x100">
							</div>
							<div class="columns small-7">
								<a ui-sref="app.itemDetails({item_id: item._id})">
									<div class="product-listing-title">{{item.name}}</div>
									<div class="product-listing-info">${{item.currentPrice}} | Watched By: {{item.usersWatching.length}} Users</div>
								</a>
								<a ui-sref="app.userDetails({user_id: item.sellerUser})">
									<div class="product-listing-info">Sold By: {{item.sellerUserName}}</div>
								</a>
							</div>
							<div class="columns small-1 small-centered">
								<button class="success button">Pay</button>
							</div>
						</div>
				</div>
			</section>
		</div>
	</section>
</div>