<div class="list" ng-controller='BuyController'>
	<section class="row view-container">
		<div class="column small-12">	
			<section class="row">
				<div class="column small-12 text-center ">
					<h2 class="sectionheader">Your Purchase History</h2></br>
				</div>
			</section>
			
			<section class="row">
				<div class="row column text-center">
					<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="list_progress"></i>
				</div>
				<div class="column small-12 small-centered" ng-show="purchase_list">
					<div class="row product-container" ng-repeat="item in products">
						<div class="columns small-2 text-center small-offset thumbnail-wrapper">
							<img class="thumbnail" data-ng-src={{item.img}}>
						</div>
						<div class="columns small-6">
							<a class="md-accent" ui-sref="app.itemDetails({item_id: item._id})">
								<div class="product-listing-title">{{item.name}}</div>
								<div class="product-listing-info">Bought on {{item.dateSold | date:"MMMM dd, yyyy"}}</div>
								<div class="product-listing-info">Sold Price: <strong>${{item.soldPrice | number:2}}</strong></div>
							</a>
							<a class="md-accent md-hue-1" ui-sref="app.userDetails({user_id: item.sellerUser})">
								<div class="product-listing-info">Sold By: {{item.sellerUserName}}</div>
							</a>
						</div>
						<div class="columns small-4 text-right">
							<div><a href="mailto:{{item.sellerUserEmail}}" ><md-button class="md-raised md-warn" ng-click="unwatch_refresh(item._id)"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Seller</md-button></a></div>
						</div>
					</div>
				</div>
			</section>

			<section class="row">
				<div class="text-centered">
					</br>
					<md-button class="md-raised md-accent md-hue-1 float-left" ng-click="PrevList()" ng-disabled="prevDisabled" ng-show="purchase_list">Previous</md-button>
					<md-button class="md-raised md-accent md-hue-1 float-right" ng-click="NextList()" ng-disabled="nextDisabled" ng-show="purchase_list">Next</md-button>
				</div>
			</section>
		</div>
	</section>
</div>