<div ng-controller='ContentController'>
	<div class="text-center banner-wrapper">
		<img src="./data/images/banner.png" class="banner">
	</div>
	<section class="row view-container-no-border">
		<div class="column small-12">
			<div class="row column">
				<h4><strong>Recently Added</strong></h4>
				  <hr>
			</div>
			<div class="row column text-center">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="progress[0]"></i>
			</div>
			<div class="row">
				<div ng-repeat = "item in mostRecentProducts"  class="column small-12 medium-3 text-center">
					<div class="thumbnail-wrapper-big">
						<img ui-sref="app.itemDetails({item_id: item._id})" class="thumbnail" data-ng-src={{item.img}}>
					</div>
					<h5  class="homepage-label" ui-sref="app.itemDetails({item_id: item._id})">{{item.name}}</h5>

					<div class="mobile text-center">
						${{item.currentPrice | number:2}}
					</div>
					
				</div>
			</div>
			

			<div class="desktop row">
				<div ng-repeat = "item in mostRecentProducts"  class="column small-12 medium-3 text-center">
					${{item.currentPrice | number:2}}
				</div>

			</div>


			<div class="tablet row">
				<div ng-repeat = "item in mostRecentProducts"  class="column small-12 medium-3 text-center">
					${{item.currentPrice | number:2}}
				</div>

			</div>


			<hr>
			<div class="row column">
				<h4><strong>Most Popular Products</strong></h4>
				<hr>
			</div>
			<div class="row column text-center">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="progress[1]"></i>
			</div>
			<div class="row">
				<div ng-repeat = "item in mostWatchedProducts" class="column small-12 medium-2 text-center">
					<div class="thumbnail-wrapper">
						<img ui-sref="app.itemDetails({item_id: item._id})" class="thumbnail" data-ng-src={{item.img}}>
					</div>
					<p class="homepage-label" ui-sref="app.itemDetails({item_id: item._id})">{{item.name}}</p>

					<div class="mobile text-center text-small">
						${{item.currentPrice | number:2}}
					</div>


					
				</div>
			</div>
			
			<div class="desktop row">
				<div ng-repeat = "item in mostRecentProducts"  class="column small-12 medium-3 text-center text-small">
					${{item.currentPrice | number:2}}
				</div>

			</div>


			<div class="tablet row">
				<div ng-repeat = "item in mostRecentProducts"  class="column small-12 medium-3 text-center text-small">
					${{item.currentPrice | number:2}}
				</div>

			</div>
			<hr>
			<div class="row column">
				<h4><strong>Explore New Products</strong></h4>
				<hr>
			</div>
			<div class="row column text-center">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="progress[2]"></i>
			</div>
			<div class="row">
				<div ng-repeat = "item in randomProducts" class="column small-12 medium-2 text-center">
					<center>
						<div class="thumbnail-wrapper">
							<img ui-sref="app.itemDetails({item_id: item._id})" class="thumbnail" data-ng-src={{item.img}}>
						</div>
						<p ui-sref="app.itemDetails({item_id: item._id})">{{item.name}}</p>
					</center>
					<div class="mobile text-center">
						${{item.currentPrice | number:2}}
					</div>

					
				</div>

			</div>

			<div class="desktop row">
				<div ng-repeat = "item in mostRecentProducts"  class="column small-12 medium-3 text-center">
					${{item.currentPrice | number:2}}
				</div>

			</div>


			<div class="tablet row">
				<div ng-repeat = "item in mostRecentProducts"  class="column small-12 medium-3 text-center">
					${{item.currentPrice | number:2}}
				</div>

			</div>
		</div>
	</section>		
</div>