<div ng-controller='ContentController'>		
	<section class="row view-container-no-border">
		<div class="column small-12">
			<div class="row column">
				</br><h4><strong>Recently Added</strong></h4>
				  <hr>
			</div>
			<div class="row column text-center">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="progress[0]"></i>
			</div>
			<div class="row">
				<div ng-repeat = "item in mostRecentProducts"  class="column small-12 medium-3 text-center">
					<div class="thumbnail-wrapper-big">
						<img ui-sref="app.itemDetails({item_id: item._id})" class="thumbnail" data-ng-src={{item.img}}>
					</div>
					<h5  class="homepage-label" ui-sref="app.itemDetails({item_id: item._id})">{{item.name}}</h5>
					
				</div>
			</div>

			<div class="row">
				<div ng-repeat = "item in mostRecentProducts"  class="column small-12 medium-3 text-center">
					${{item.currentPrice}}
				</div>

			</div>
			<hr>
			<div class="row column">
				<h4><strong>Most Popular Products</strong></h4>
				<hr>
			</div>
			<div class="row column text-center">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="progress[1]"></i>
			</div>
			<div class="row">
				<div ng-repeat = "item in mostWatchedProducts" class="column small-12 medium-2 text-center">
					<div class="thumbnail-wrapper">
						<img ui-sref="app.itemDetails({item_id: item._id})" class="thumbnail" data-ng-src={{item.img}}>
					</div>
					<p class="homepage-label" ui-sref="app.itemDetails({item_id: item._id})">{{item.name}}</p>
					
				</div>
			</div>
			<div class="row">
				<div ng-repeat = "item in mostWatchedProducts"  class="column small-12 medium-2 text-center">
					${{item.currentPrice}}
				</div>

			</div>
			<hr>
			<div class="row column">
				<h4><strong>Explore New Products</strong></h4>
				<hr>
			</div>
			<div class="row column text-center">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="progress[2]"></i>
			</div>
			<div class="row">
				<div ng-repeat = "item in randomProducts" class="column small-12 medium-2 text-center">
					<center>
						<div class="thumbnail-wrapper">
							<img ui-sref="app.itemDetails({item_id: item._id})" class="thumbnail" data-ng-src={{item.img}}>
						</div>
						<p ui-sref="app.itemDetails({item_id: item._id})">{{item.name}}</p>
					</center>
					
					
				</div>

			</div>

			<div class="row">
				<div ng-repeat = "item in randomProducts"  class="column small-12 medium-2 text-center">
					${{item.currentPrice}}
				</div>
			</div>
		</div>
	</section>		
</div>