<div ng-controller='ContentController'>		
	

		 <div class="row">
                <div class="small-8 small-centered columns">
                      <label>Find Your Product
                    <input name = "search_input" type="text" ng-model = "query" ng-minlength="1">
                     <button type="button" class = "button success"  ng-click="search(query)">search
         				</button>
                    </label>
                </div>
               
             </div>


      
         	<div class="row column text-center">
			<h2>Recently Added</h2>
			<hr>
		</div>
		<div class="row small-up-2 large-up-4">
			<div ng-repeat = "item in products | limitTo:4 | orderBy:item.dateCreated:reverse"  class="column">
			<img class="thumbnail" src="http://placehold.it/200x200">
			<h5>{{item.name}}</h5>
			<p>${{item.currentPrice}}</p>
			</div>
			
		</div>
		<hr>
		<div class="row column text-center">
			<h2>Top Watching Products</h2>
			<hr>
		</div>
		<div class="row small-up-2 medium-up-3 large-up-6">
			<div ng-repeat = "item in products | limitTo:6 | orderBy : item.usersWatching.length" class="column">
				<img class="thumbnail" src="http://placehold.it/300x400">
				<h7>{{item.name}}</h7>
				<p>${{item.currentPrice}}</p>
				
			</div>
		
		</div>
		<hr>
			<div class="row column text-center">
			<h2>Recommends</h2>
			<hr>
			</div>
			<div class="row small-up-2 medium-up3 large-up-6">
				<div ng-repeat = "item in products | limitTo:6" class="column">
				<img class="thumbnail" src="http://placehold.it/120x120">
				<p>{{item.name}}</p>
				<p>${{item.currentPrice}}</p>
				
			</div>

			</div>
		




    
         	
         	











</div>