<div class="row" ng-controller="CreateItemController">
	 <div class="columns small-8 small-centered">
        <form name="itemForm" novalidate>
        <section class="row">
            


            <div class="column small-5">
                <img class="thumbnail" src="http://placehold.it/400x400">
            </div>
            <div class="column small-7">
                <div class="form-group">
                    <label>Product Name:</label>
                    <input type="text" class="form-control" name="pName" ng-model="product.name" required/>
                </div>
                <div class="form-group">
                    <label>Starting Value ($):</label>
                    <input type="text" class="form-control" name="password" ng-model="product.starting" required/>
                </div>
                <div class="form-group">
                    <label>Reserve Price ($):</label>
                    <input type="text" class="form-control" name="password" ng-model="product.reserve" required/>
                </div>
                <div class="form-group">
                    <label>Shipping Fee ($):</label>
                    <input type="text" class="form-control" name="password" ng-model="product.shipping" required/>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="column small-12">
                <div class="form-group">
                    <label>Product Description:</label>
                    <input type="text" class="form-control" name="password" ng-model="product.description"/>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="columns small-4 small-centered">
                <button class="button" ng-click="createItem(product)">Create Item Listing</button>
            </div>
        </section>
    </form>
                
    

    </div>

   
</div>