<div class="row" ng-controller="EditItemController">
    <section class="row view-container">
        <div class="column small-12">
        	<form name="itemForm">
                <section class="row">
                	<div class="column small-5">
                        <div class="text-center margin-bottom"><md-button class="md-raised md-accent md-hue-1" ngf-select ng-model="product.img" name="img" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="4MB" ng-change="changeImage()">Upload Image</md-button></div>
                        <div class="text-center margin-bottom"><img ngf-src="product.img" ngf-resize="{width: 400, height: 300, quality: 0.9}"/></div>
        			</div>
            		<div class="column small-7">
                        <div class="form-group">
                            <label>Product Name:</label>
                            <input type="text" class="form-control" name="pName" ng-model="product.name" required/>
                        </div>
                        <div class="form-group">
                        	<label>Reserve Price ($):</label>
        					<input type="text" class="form-control" name="password" ng-model="product.reservePrice" required>
                        </div>
                        <div class="form-group">
                        	<label>Shipping Fee ($):</label>
        					<input type="text" class="form-control" name="password" ng-model="product.shippingPrice" required>
                        </div>

                         <div class="form-group">
                            <label> Category: </label>
                            <select ng-model="product.category" ng-options="category for category in categories" required></select>

                        </div>
                    </div>
                </section>
                <section class="row">
                	<div class="column small-12">
                		<div class="form-group">
                        	<label>Product Description:</label>
        					<textarea rows="4" cols="50" ng-model="product.description"/>
                            </textarea>
                        </div>
                	</div>
                </section>
               	<section class="row">
                	<div class="column small-12 text-center">
                		<md-button class="md-raised md-accent md-hue-1" type="submit" ng-click="updateItem(product)">Update Item</md-button>
                        <i class="fa fa-spinner fa-spin fa-1x fa-fw margin-bottom" ng-show="submitting"></i>
                	</div>
                </section>
            </form>
        </div>
    </section>
</div>