<br>
<div ng-controller='FooterController'>		
	<div class="callout large secondary">
		<div class="row">
			<div class="small-12 medium-4 columns">
				<h5>Dutchies</h5>
				<ul class="menu vertical">
					<li><a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact Us</a> </li>
					<li><a ui-sref="app.login">Login</a> </li>
					<li><a ng-click="logout()">Logout</a> </li>
					<li><a ui-sref="app.signup"> Signup </a></li>
				</ul>
			</div>
			<div class="small-12 medium-4 columns">
				<h5> Site Map </h5>
				<ul class="menu vertical">
					<li><a ui-sref="app.buy"> Purchased </a></li>
					<li><a ui-sref="app.sell"> Your Auctions </a></li>
					<li><a ui-sref="app.watching"> Watchlist </a></li>
					<li><a ui-sref="app.account"> Account </a></li>
				</ul>
			</div>
			<div class="small-12 medium-4 columns">
				<h5> Payment Support </h5>
				<ul class="menu vertical">
					<li><a href="https://usa.visa.com/"><i class="fa fa-cc-visa" aria-hidden="true"></i> Visa</a></li>
					<li><a href="https://www.mastercard.us/en-us.html"><i class="fa fa-cc-mastercard" aria-hidden="true"></i> MasterCard</a></li>
					<li><a href="https://www.discover.com/"><i class="fa fa-cc-discover" aria-hidden="true"></i> Discover</a></li>
				</ul>
			</div>
		</div>
		<br>
		<div class="text-center">Made with <i class="fa fa-heart fa-1x"></i> at the University of Illinois</div>
	</div>
</div>