
<br>
<hr>
<div ng-controller='FooterController'>		
	<div class="callout large secondary">
	<div class="row">
	<div class="large-4 columns">
		<h5>Dutchies</h5>
		<a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Contact Us <i class="fa fa-envelope-o" aria-hidden="true"></i></a> 
	</div>
	<div class="large-3 large-offset-2 columns">
		<h5> Friend Sites </h5>
	<ul class="menu vertical">
		<li><a href="http://www.amazon.com/"> Amazon <i class="fa fa-amazon" aria-hidden="true"></i></a></li>
		<li><a href="https://www.paypal.com/"> Paypal <i class="fa fa-paypal" aria-hidden="true"></i> </a></li>
		<li><a href="https://www.facebook.com/"> Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
	</ul>
	</div>
	<div class="large-3 columns">
		<h5> Payment Support </h5>
		<ul class="menu vertical">
		<li><a href="https://usa.visa.com/">Visa <i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
		<li><a href="https://www.mastercard.us/en-us.html">MasterCard <i class="fa fa-cc-mastercard" aria-hidden="true"></i></a></li>
		<li><a href="https://www.discover.com/">Discover <i class="fa fa-cc-discover" aria-hidden="true"></i></a></li>

	</ul>
	</div>
	</div>
	</div>
</div>