<div ng-controller='HeaderController'>

	this is the header <a class="button float-right" ui-sref-active-eq="active-state" ui-sref="app.login">Login</a>
	<div class="row text-center">
		<a class="button" ui-sref-active-eq="active-state" ui-sref="app.buy">Buy</a>
		<a class="button" ui-sref-active-eq="active-state" ui-sref="app.sell">Sell</a>
	    <a class="button" ui-sref-active-eq="active-state" ui-sref="app.watching">Watching</a>
	    <a class="button" ui-sref-active-eq="active-state" ui-sref="app.account">Account</a>
	</div>
</div>

<hr>