<!-- <div ng-controller='HeaderController'>
	<a class="button" ui-sref-active-eq="active-state" ui-sref="app">Home</a>
	<a class="button float-right" ui-sref-active-eq="active-state" ui-sref="app.login">Login</a>
	<div class="row text-center">
		<a class="button" ui-sref-active-eq="active-state" ui-sref="app.buy">Buy</a>
		<a class="button" ui-sref-active-eq="active-state" ui-sref="app.sell">Sell</a>
	    <a class="button" ui-sref-active-eq="active-state" ui-sref="app.watching">Watching</a>
	    <a class="button" ui-sref-active-eq="active-state" ui-sref="app.account">Account</a>
	</div>
</div>

<hr> -->

<div ng-controller='HeaderController'>
<!--<div class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text headerText" ui-sref-active-eq="active-state" ui-sref="app">Dutchies</li>
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li class="menu-text headerText" ui-sref-active-eq="active-state" ui-sref="app.buy">Purchased</li>
				<li class="menu-text headerText" ui-sref-active-eq="active-state" ui-sref="app.sell">Selling</li>
				<li class="menu-text headerText" ui-sref-active-eq="active-state" ui-sref="app.watching">Watching</li>
				<li class="menu-text headerText" ui-sref-active-eq="active-state" ui-sref="app.account">{{account}}</li>
			</ul>
		</div>	
	</div>-->
	<md-toolbar md-scroll-shrink ng-if="true">
		<div class="md-toolbar-tools">
			<md-button class="nav-button" ui-sref="app">Dutchies</md-button>
			<span flex=""></span>
			<md-button class="nav-button" ui-sref="app.buy">Purchased</md-button>
			<md-button class="nav-button" ui-sref="app.sell">Your Auctions</md-button>
			<md-button class="nav-button" ui-sref="app.watching">Watching</md-button>
			<md-button class="nav-button" ui-sref="app.account">My Account</md-button>
		</div>
	</md-toolbar>

</div>

<!--<hr>-->