<div  ng-controller="ItemDetailsController">
    <section class="row view-container">
        <div class="column small-12">
        	<section class="row">
                <div class="column small-12">
                    <h3 class="sectionheader">{{ product.name }}<h3>
                </div>
            </section>
            <section class="row">
                <div class="column small-5">
                    <img data-ng-src="{{product.img}}"/>
                </div>
                <div class="column small-7">
                     <div class="row column text-center">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="detail_progress"></i>
                     </div>
                    <section ng-show="itemdetail" class="row">
                       
                                       
                        <div class="column small-6">
                            <p>Current Price: ${{ product.currentPrice | number:2 }}</p>
                            <p>Shipping Fee: ${{ product.shippingPrice | number:2  }}</p>
                            <p>Total Price: ${{ product.shippingPrice + product.currentPrice | number:2 }}</p>
                            <p>Watching: {{ product.usersWatching.length }} Users Watching</p>
                        </div>
                        <div class="column small-6">
                            <p>Sold By: <a ui-sref="app.userDetails({user_id:product.sellerUser})">{{ product.sellerUserName }}</a></p>
                            
                            <p>Seller Email: <a href="mailto:{{product.sellerUserEmail}}?Subject=Hello%20again" target="_top">{{ product.sellerUserEmail }}
                            <i class="fa fa-envelope-o" aria-hidden="true"></i></a> </p>                            
                        </div>
                    </section>
                    <section class="row">
                        </br>
                        <div class="column small-6">
                            
                            <md-button ng-show = "buy" class="md-warn md-raised" ng-click="showConfirm($event,product._id)">
                              Buy
                            </md-button>

                            <div ng-show = "buyer">
                                <h5> You bought it on: </h5>
                                {{product.dateSold | date:"MMMM dd, yyyy"}}
                            </div>

                            <div ng-show = "sold">
                                <h5> This product is sold </h5>
                            </div>
                        </div>
                        <div class="column small-6">
                            <md-button ng-click = "click_watch(product._id)" ng-show = "watch" class="md-raised md-warn md-fixed-width"><i class="fa fa-eye" ></i> Watch</md-button>
                            <md-button ng-click = "click_unwatch(product._id)" ng-show = "unwatch" class="md-raised md-primary md-fixed-width"><i class="fa fa-eye-slash"></i> Unwatch</md-button>
                        </div>
                    </section>
                </div>
            </section>
            <section class="row">
                <div class="column small-12">
                    {{ product.description }}
                </div>
            </section>
        </div>
    </section>
</div>