<div  ng-controller="ItemDetailsController">
    <section class="row view-container">
        <div class="column small-12">
        	<section class="row">
                <div class="column small-12">
                    <h3>{{ product.name }}<h3>
                </div>
            </section>
            <section class="row">
                <div class="column small-5">
                    <img data-ng-src="{{product.img}}"/>
                </div>
                <div class="column small-7">
                     <div class="row column text-center">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="detail_progress"></i>
                     </div>
                    <section ng-show="itemdetail" class="row">
                       
                                       
                        <div class="column small-6">
                            {{product._id}}
                            <p>Current Price: ${{ product.currentPrice }}</p>
                            <p>Shipping Fee: ${{ product.shipping }}</p>
                            <p>Total Price: ${{ product.shipping + product.currentPrice }}</p>
                            <p>Watching: {{ product.usersWatching.length }} Users Watching</p>
                        </div>
                        <div class="column small-6">
                            <p>Sold By: <a ui-sref="app.userDetails({user_id:product.sellerUser})">{{ product.sellerUserName }}</a></p>
                            
                            <p>Seller Email: {{ product.sellerUserEmail }}  <a href="mailto:product.sellerUserEmail?Subject=Hello%20again" target="_top"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </p> 

                            <md-button ng-click = "click_watch(product._id)" ng-show = "watch" class="md-raised md-warn">Watch</md-button>
                            <md-button ng-click = "click_unwatch(product._id)" ng-show = "unwatch" class="md-raised md-primary">Unwatch</md-button>
                        </div>
                    </section>
                    <section class="row">
                        <div class="column small-12">
                            <md-button ng-show = "buy" class="md-raised md-warn">Buy It Now!</md-button>
                        </div>
                    </section>
                </div>
            </section>
            <section class="row">
                <div class="column small-12">
                    {{ product.description }}
                </div>
            </section>
        </div>
    </section>
</div>