<div ng-controller='SearchController'>		
	<section class="row view-container-no-border">
		<div class="column small-12"> 
			<section class="row">
				<div class="column small-12 text-center">
					</br><h3>Search Results for "{{ query }}"</h3></br>
				</div>
			</section>
			<section class="row">
				<div class="columns small-12 medium-4">
					<h5>Sort By:</h5>
                    <select ng-change="refresh()" ng-model="sortselector">
                      <option value="dateCreated">Date Created</option>
                      <option value="currentPrice">Price</option>
                      <option value="numUsersWatching">Popularity</option>
                    </select>
				</div>
				<div class="columns small-12 medium-4">
                    <h5>Sort Order:</h5>
                    <div class="radio_selector">
			          <input type="radio" checked="checked" ng-model="sortorder" value="1" ng-click="refresh()" id="ascending"> <label for="ascending">Ascending</label>
			          <input type="radio" ng-model="sortorder" value="-1" ng-click="refresh()" id="descending" > <label for="descending">Descending</label>
			        </div>
				</div>
				<div class="columns small-12 medium-4">
			        <h5>Filter by Category:</h5>
					<select ng-change="refresh()" ng-model="filtercategory" ng-options="category for category in categories" required> </select>
				</div>
				<div class="row column text-center">
					<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom" ng-show="search_progress"></i>
				</div>
				</br>
			</section>
			<section class="row" ng-show="result">
				<div class="column small-12 small-centered">
					<h5 class="text-center" ng-show="noresults">There were no results that matched your query.</h5>
					<div class="row product-container" ng-repeat="item in search_products" >
						<div class="columns small-2 text-center small-offset thumbnail-wrapper">
							<img class="thumbnail" data-ng-src={{item.img}}>
						</div>
						<div class="product-margin">
							<div class="columns small-6">
								<a class="md-accent" ui-sref="app.itemDetails({item_id: item._id})">
									<div class="product-listing-title">{{item.name}}</div>
									<div class="product-listing-info">${{item.currentPrice}} | Watched By: {{item.usersWatching.length}} Users</div>
								</a>
								<a class="md-accent md-hue-1" ui-sref="app.userDetails({user_id: item.sellerUser})">
									<div class="product-listing-info">Sold By: {{item.sellerUserName}}</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="row" ng-show="result">
				<div class="columns small-12">
					</br>
					<center>
						<md-button class="md-raised md-accent md-hue-1>" ng-click="PrevList()" ng-disabled="prevDisabled">Prev</md-button>
						<md-button class="md-raised md-accent md-hue-1>" ng-click="NextList()" ng-disabled="nextDisabled">Next</md-button>
					</center>
				</div>
			</section>
		</div>
	</section>
</div>