<div ng-controller='ContentController'>		
	<section class="row view-container">
		<div class="column small-12"> 
			<section class="row">
				<div class="small-10 small-centered text-center columns">
					<label><h4>Find Your Product</h4></label></br>
					<input name = "search_input" type="text" ng-model = "query" ng-minlength="1">
				</div>
			</section>
			<section class="row">
				<div class="column small-2 small-centered text-center">
					<md-button class = "md-raised md-accent md-hue-1"  ng-click="search(query)">Search</button>
				</div>
			</section>
				<section class="row">
					<div class="column small-12 text-center">
						</br><h2>Search Results</h2></br>
					</div>
				</section>
				<section class="row">
					<div class="column small-12 small-centered">
							<div class="row product-container" ng-repeat="item in products | filter: result">
								<div class="columns small-2 text-center small-offset thumbnail-wrapper">
									<img class="thumbnail" data-ng-src={{item.img}}>
								</div>
								<div class="product-margin">
									<div class="columns small-6">
										<a class="md-accent" ui-sref="app.itemDetails({item_id: item._id})">
											<div class="product-listing-title">{{item.name}}</div>
											<div class="product-listing-info">${{item.currentPrice}} | Watched By: {{item.usersWatching.length}} Users</div>
										</a>
										<a class="md-accent md-hue-1" ui-sref="app.userDetails({user_id: item.sellerUser})">
											<div class="product-listing-info">Sold By: {{item.sellerUserName}}</div>
										</a>
									</div>
									<div class="columns small-2 small-centered">
										</br>
										<md-button class = "md-raised md-warn">Watch</button>
									</div>
								</div>
							</div>
					</div>
				</section>
			</section>
		</div>
	</section>
</div>