<div class="list" ng-controller='SellController'>
	<section class="row view-container">
		<div class="column small-12">		
			<section class="row">
				<div class="column small-12 text-center">
					<h2>Your Products</h2>
				</div>
			</section>
			<section class="row" id="create-item">
				<div class="column small-12 small-centered text-center">
					<md-button class="md-raised md-accent md-hue-1" ui-sref-active-eq="active-state" ui-sref="app.createItem">Sell A New Item</md-button></br>
				</div>
				</br>
			</section>
			<section class="row">
				<div class="column small-12 small-centered">
						<section class="row product-container" ng-repeat="item in products">
							<div class="columns small-2 text-center small-offset thumbnail-wrapper">
								<img class="thumbnail" data-ng-src={{item.img}}>
							</div>
							<div class="product-margin">
								<div class="columns small-8">
									<a class="md-accent" ui-sref="app.itemDetails({item_id: item._id})">
										<div class="product-listing-title">{{item.name}}</div>
										<div class="product-listing-info">Current Price: ${{item.currentPrice}} | Watched By: {{item.usersWatching.length}} Users</div>
									</a>
									<a class="md-accent md-hue-1" ui-sref="app.userDetails({user_id: item.sellerUser})">
										<div class="product-listing-info">Sold By: {{item.sellerUserName}}</div>
									</a>
								</div>
								<div class="columns small-2 small-centered">
									<md-button class="md-raised md-warn" ui-sref="app.editItem({item_id: item._id})">Edit</md-button></br>
									<md-button class="md-raised md-primary">Delete</md-button>
								</div>
							</div>
						</section>
				</div>
			</section>
		</div>
	</section>
</div>