<div ng-controller="UserDetailsController">
    <section class="row view-container">
        <div class="column small-12">
        	<section class="row">
                <div class="column small-12">
                    <h3>{{user.name}}</h3>
                </div>
            </section>
            <section class="row">
                <div class="column small-12">
                    <p>{{user.email}}</p>
                </div>
            </section>
            <section class="row">
                <div class="column small-12">
                    <h4>Products User is Selling</h4>
                </div>
            </section>
            </br>
            <section class="row" ng-repeat="product in userProducts">
                <div class="column small-11 small-offset-1">
                    <a class="md-accent" ui-sref="app.itemDetails({item_id: product._id})">{{product.name}}</a>
                </div>
            </section>
        </div>
    </section>
</div>