<div ng-controller="UserDetailsController">
    <section class="row view-container">
        <div class="column small-12">
        	<section class="row">
                <div class="column small-12">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw margin-bottom" ng-show="loading1"></i><h3>{{user.name}}</h3>
                </div>
            </section>
            <section class="row">
                <div class="column small-12">
                    <p>{{user.email}}</p>
                </div>
            </section>
            <section class="row">
                <div class="column small-12">
                    <h4>Products User is Selling</h4>
                </div>
            </section>
            </br>
            <i class="fa fa-spinner fa-spin fa-2x fa-fw margin-bottom" ng-show="loading2"></i>
            <div class="row product-container" ng-repeat="item in products">
                <div ui-sref="app.itemDetails({item_id: item._id})" class="columns small-2 text-center small-offset thumbnail-wrapper">
                    <img class="thumbnail" data-ng-src={{item.img}}>
                </div>
                <div class="columns small-10">
                    <a class="md-accent" ui-sref="app.itemDetails({item_id: item._id})">
                        <div class="product-listing-title">{{item.name}}</div>
                        <div class="product-listing-info">Current Price: <strong>${{item.currentPrice | number:2}}</strong> | Watched By: <strong>{{item.usersWatching.length}} Users</strong></div>
                    </a>
                    <a class="md-accent md-hue-1" ui-sref="app.userDetails({user_id: item.sellerUser})">
                        <div class="product-listing-info">Sold By: {{item.sellerUserName}}</div>
                    </a>
                </div>
                <div class="columns small-4 text-right"></div>
                </div>
            </div>
        </div>
    </section>
</div>